<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container" data-aos="fade-up">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">
                        ООО “Агроблокстрой” - российское предприятие
                        выпускающее надежное оборудование
                    </h2>
                    <p>
                        Предприятие производит различные виды промышленного

                        оборудования собственной разработки и является комплексным

                        интегратором систем ЧПУ и сварочного оборудования.

                        ООО “Агроблокстрой” имеет опыт написания собственного

                        программного обеспечения, обеспечивающего взаимодействие

                        сварочного оборудования и единого интерфейса пользователя,

                        в виде сенсорной панели, для управления всей установкой.

                        В распоряжении предприятия несколько укомплектованных цехов,

                        обеспечивающих разные стадии производственного процесса:

                        цех металлообработки; сборочно-сварочный цех; цех монтажа

                        электрошкафов и гидроаппаратуры; цех финальной сборки. Все

                        оборудование, выпускаемое нашим предприятием спроектировано

                        нашим конструкторским отделом. Благодаря тому, что все стадии

                        проектно-изыскательских работ и процесс их воплощения в конечный

                        продукт сосредоточены на одной площадке, создаются собственные

                        уникальные решения. Именно это позволяет нашему оборудованию

                        конкурировать с более именитыми импортными аналогами.
                    </p>


                </div>

                <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Facts Section ======= -->
    <section id="facts">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">
                    На нашем оборудовании работают крупные
                    промышленные предприятия России
                </h3>
            </div>

            <div class="row mt-5">
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="pic"><img src="assets/img/l_severstal2.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="pic"><img src="assets/img/l_galaktika2.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <div class="pic"><img src="assets/img/l_autopark.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="500">
                        <div class="pic"><img src="assets/img/l_eton2.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="600">
                        <div class="pic"><img src="assets/img/l_galichi2.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="700">
                        <div class="pic"><img src="assets/img/l_istmash2.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="pic"><img src="assets/img/l_severstal2.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="pic"><img src="assets/img/l_galaktika2.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <div class="pic"><img src="assets/img/l_autopark.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="500">
                        <div class="pic"><img src="assets/img/l_eton2.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="600">
                        <div class="pic"><img src="assets/img/l_galichi2.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-flex align-items-center">
                    <div class="member" data-aos="fade-up" data-aos-delay="700">
                        <div class="pic"><img src="assets/img/l_istmash2.png" alt="" style="width: 100%"></div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-2 col-md-4">
                    <div class="member shadow" data-aos="fade-up" data-aos-delay="200">
                        <div class="pic"><img src="assets/img/eton.jpg" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="member shadow" data-aos="fade-up" data-aos-delay="300">
                        <div class="pic"><img src="assets/img/eton.jpg" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="member shadow" data-aos="fade-up" data-aos-delay="400">
                        <div class="pic"><img src="assets/img/eton.jpg" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="member shadow" data-aos="fade-up" data-aos-delay="500">
                        <div class="pic"><img src="assets/img/eton.jpg" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="member shadow" data-aos="fade-up" data-aos-delay="600">
                        <div class="pic"><img src="assets/img/eton.jpg" alt="" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="member shadow" data-aos="fade-up" data-aos-delay="700">
                        <div class="pic"><img src="assets/img/eton.jpg" alt="" style="width: 100%"></div>
                    </div>
                </div>
            </div>

            <div class="row counters mt-5">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="2006" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Год основания</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="2006" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Год основания</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="2006" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Год основания</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="2006" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Год основания</p>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->
